/*=============================================================
    Authour URI: www.binarytheme.com
    License: Commons Attribution 3.0

    http://creativecommons.org/licenses/by/3.0/

    100% To use For Personal And Commercial Use.
    IN EXCHANGE JUST GIVE US CREDITS AND TELL YOUR FRIENDS ABOUT US
   
    ========================================================  */
/* ===========================================================
   GENERAL STYLESHEET BY BYINARY THEME    
   ============================================================*/

/* ===========================================================
   GENERAL STYLES   
   ============================================================*/
body {
   font-family:'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #000;   
    margin-top: 40px;
    line-height:16px;
}

h1, h2, h3, h4, h5, h6 {
      font-family:'Open Sans', sans-serif;
    font-weight: 500;
   line-height:40px;
   
}

h1 {
    color:#11B674;
    font-weight: 700;
}
.text-center {
    text-align: center; 
}
img.bigliettodavisita{
    weight:353;
    height:200;
}

.main-top-margin {
     margin-top: 75px;
}
.main-low-margin {
     margin-top: 55px;
}

a,a:hover {
    text-decoration:none;
}

p {
    line-height: 30px;
    margin-bottom: 23px;
}

.img-margin-product {
    margin-top:30px;
}
.bottam-pad {
     padding-bottom:40px;
}
/* ==========================================================================
   COLOR CODES
   ========================================================================== */

.color-red {
    color:#ff0000;
}

.color-green {
    color:#07BB00;
}

.color-light-blue {
    color:#BB00BB;
}

.color-blue {
    color:#0052FF;
}
.color-brown {
    color:#EB8F2D;
}
.color-black {
    color:#000000;
}

/* ==========================================================================
   HEADER SECTION
   ========================================================================== */

#header-section {
	background: url(../img/header.jpg) no-repeat center top;
	margin-top: -20px;
	padding-top:20px;
	text-align:center;
	background-position: center center;
	min-height: 700px;
	width: 100%;	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#header-section h1 {
	margin-top: 120px;
	color: white;
	font-size: 45px;
	font-weight: 400;
	letter-spacing: 4px;
    line-height:70px;
}

#header-section h2 {
	color: white;
	font-size: 40px;
	font-weight: 700;
	letter-spacing: 4px;
}
.down-icon {
     color:white;
    font-weight:900;
}
/* ==========================================================================
   ABOUT SECTION
   ========================================================================== */

#about-section {
    background-color: #FAFAFA;
   
}

/* ==========================================================================
   PRICE SECTION
   ========================================================================== */
#price-section {
     background-color: #FAFAFA;
}

/* PRICE TABLES */

.pricing {
    padding-bottom: 40px;
}

.pricing .pricing-head {
    position: relative;
    background: #917CFC;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    padding: 50px 20px 20px 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}



.special .pricing-head {
    background: black;
}



.pricing .price {
    display: inline-block;
    position: relative;
}

.pricing .price sup {
    position: absolute;
    top: 50px;
    left: -10px;
    font-size: 24px;
}

.pricing .price .price-amount {
    font-size: 108px;
    letter-spacing: -4px;
}

.pricing .price small {
    position: relative;
    left: -10px;
    font-size: 18px;
}

.pricing ul {
    list-style: none;
    margin: 0;
    background: #eee;
    text-align: center;
    padding-left: 0px;
}

.pricing ul li {
    border-bottom: solid 1px #e1e1e1;
    padding-top: 20px;
    padding-bottom: 20px;
}

.pricing .pricing-grab {
    display: block;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding: 20px 12px;
    color: #FFFFFF;
    background: #23B687;
}

.backcolor-li {
    background-color:#B1D9F3;

}

/*==========================================
   SOCIAL ICON STYLES
    =====================================================*/

.color-facebook {
    color:#3B5998;
}
.color-twitter {
     color:#00aced;
}
.color-google-plus {
     color:#dd4b39;
}
.color-linkedin {
     color:#007bb6;
}
.color-pinterest {
     color:#cb2027;
}
/* ===========================================================
   BOOTSTRAP ELEMENTS CHANGES   
   ============================================================*/
.navbar {
	font-weight: 800;
	font-size: 14px;
}

.navbar-inverse {
	background: #2F11C4;
	border-color: #2F11C4;
}

.navbar-inverse .navbar-nav > .active > a {
	background: #ffffff;
}

.navbar-inverse .navbar-brand {
	color: rgba(255, 0, 0, 0.84);
	font-weight: bolder;
	font-size: 25px;
    font-weight:900;
	letter-spacing: 2px;
}
.navbar-inverse :hover .navbar-brand:hover {
	color: #29FF00;	
}
.navbar-inverse .navbar-nav > li > a {
color: #FFFFFF;
}

/* ==========================================================================
   CONTACT SECTION
   ========================================================================== */

#contact-section {
    background-color: #FAFAFA;
}
/* ==========================================================================
   FOOTER SECTION
   ========================================================================== */
   

#footer {
    background-color: #2F11C4; 
    color: #fff; 
    text-align: right; 
    padding: 10px 30px 10px 30px;
}



/* ==========================================================================
   MEDIA QURIES
   ========================================================================== */
   
